.faqimage {
    position: fixed;
    width: 500px;
    height: 100vh;
    top: 50%;
    left: 65%;
    transform: translateY(-50%);
    background-image: url("../img/faq.png");
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 100%;
    @media (max-width: 720px) { display: none; }
}

#questions {
    margin: 30px 0;
    padding: 0;
    width: 60%;
    @media (max-width: 720px) { width: 100%; }

    .question {
        width: 100%;

        .question-heading {
            width: 100%;
            position: relative;
            cursor: pointer;
            position: relative;
            min-height: 50px;
            padding: 0px 8px 0px 40px;
            list-style-type: none;
            text-align: left;
            background: #332275;
            border: none;
            outline: none;
            color: #fff;
            border-radius: 25px;
            font-size: 18px;
            transition: 0.2s;
            margin: 10px 0;
    
            /* Darker background-color on hover */
            &:hover {
                background: #00ece2;
                color: #1b0a5f;

                .open-icon {
                    background-image: url("../img/plus.svg");
                }
            }

            .open-icon {
                background-image: url("../img/plus-light.svg");
                position: absolute;
                width: 20px;
                height: 20px;
                top: 50%;
                left: 10px;
                transform: translateY(-50%);
            }

            h2 {
                padding: 15px 0 !important;
                margin: 0;
                font-size: 20px;
                font-family: 'Museo Sans Rounded 500', sans-serif;
                line-height: 20px;
            }
        }

        .question-body {
            display: none;
            background: transparent;
            padding: 20px 40px;

            p {
                color: #fff;
                font-size: 16px;

                a {
                    color: #fff;
                    text-decoration: underline;

                    &:hover {
                        text-decoration: none;
                    }
                }
            }

        }
    }

    /* When clicked on, add a background color and strike out text */
    div.readmore {
        .question-heading {
            background: #00ece2;
            color: #1b0a5f;

            /* Add a "minus" mark when clicked on */
            .open-icon {
                background-image: url("../img/minus.svg");
            }
        }
        
        .question-body {
            display: block;
        }
    }
}

#questions .rulessection {
    width: 100%;

    .modal {
        width: 100vw;
        height: 100vh;
        position: fixed;

        .modal-dialog {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            margin: auto;
            @media (max-width: 720px) { width: 90%; }

            .modal-content{
                background: transparent;
                box-shadow: none;
                border: none;
    
                .modal-header {
                    position: relative;
                    border-radius: 25px;
                    min-height: 50px;
                    padding: 12px 8px 12px 20px;
                    background: #00ece2;
                    color: #1b0a5f;
                    font-size: 18px;
                    transition: 0.2s;
                    margin: 10px 0;
                    border: none;

                    h4 {
                        font-family: 'Museo Sans Rounded 500', sans-serif;
                    }
    
                    .close-button {
                        position: absolute;
                        width: 50px;
                        height: 50px;
                        line-height: 50px;
                        text-align: center;
                        right: 0;
                        top: 0;
                        border: none;
                        border-radius: 50%;
                        background: transparent;
                        color: #1b0a5f;
                        font-size: 16px;
                        cursor: pointer;
                        outline: none;
    
                        &:hover {
                            background: rgb(255, 90, 70);
                            color: #fff;
                        }
                    }
                }

                .modal-body {
                    max-height: 60vh;
                    @media (max-width: 720px) { max-height: 70vh; }
                    overflow-y: scroll;
                    background-color: #332275;
                    border-bottom-left-radius: 25px;
                    border-bottom-right-radius: 25px;
                    color: #fff;

                    &::-webkit-scrollbar {
                        -webkit-appearance: none;
                        width: 7px;
                    }
                    &::-webkit-scrollbar-thumb {
                        border-radius: 4px;
                        background-color: rgba(255, 255, 255, .5);
                        box-shadow: 0 0 1px rgba(255, 255, 255, .5);
                    }

                    a {
                        color: #fff;
                        text-decoration: underline;
                        font-size: inherit;
                        font-weight: inherit;

                        &:hover {
                            text-decoration: none;
                        }
                    }
                }
            }
        }
    } 
}