#home {
    background-image: url("../img/triangle.png");
    background-repeat: no-repeat;
    background-position: top right;
    background-size: auto 120vh;
}

.visualhome {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    min-height: calc(100vh - 150px);
    @media (max-width: 720px) { min-height: calc(100vh - 60px); }

    .text {
        width: 50%;
        flex-direction: row;
        @media (max-width: 720px) { width: 100%; }

        h1 {
            color: #fff;
            font-size: 40px;
            line-height: 40px;
            text-align: left;
            font-family: 'Museo Sans Rounded 500', sans-serif;
            @media (max-width: 720px) { font-size: 30px; }

            p {
                color: inherit;
            }
        }
        .info {
            margin: 15px 0;
            font-size: 24px;
            color: #D555F6;
            font-family: 'Museo Sans Rounded 700', sans-serif;
        }
        .description {
            margin: 50px 0;
            color: #fff;
            font-size: 24px;
            line-height: 32px;
            font-family: 'Museo Sans Rounded 300', sans-serif;
        }
        #seeschedule {
            display: block;
            width: 237px;
            height: 60px;
            padding: 0 20px;
            margin: 15px auto;

            &:hover a {
                text-decoration: none;
            }

            a {
                display: block;
                width: 100%;
                border-radius: 35px;
                background: linear-gradient(to right, rgb(38, 215, 212), rgb(0, 136, 254)); 
                background-size: 100%;
                color: rgb(255, 255, 255);
                font-size: 16px;
                line-height: 60px;
                text-align: center;
                text-transform: uppercase;
                font-family: 'Museo Sans Rounded 700', sans-serif;
            }
        }
    }
    .ball {
        width: 50%;
        flex-direction: row;
        @media (max-width: 720px) { width: 100%; padding-bottom: 60px;}

        img {
            width: 90%;
            display: block;
            margin: 0 auto;
        }
    }
    .powered {
        width: 100%;
        position: absolute;
        left: 0;
        bottom: 0;

        p {
            text-align: center;
            margin: 10px auto;
            color: #00ece2;
            @media (max-width: 720px) { width: 90%;}
        }
    }
}

.bag h1, .findus h1 {
    width: 100%;
    color: #fff;
    font-size: 40px;
    text-align: left;
    padding-bottom: 30px;
    line-height: 40px;
    font-family: 'Museo Sans Rounded 500', sans-serif;
    @media (max-width: 720px) { font-size: 30px; padding-bottom: 10px; }
}

.bag {
    padding-top: 50px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    .listbox {
        flex-direction: row;
        width: 50%;
        @media (max-width: 720px) { width: 100%; }
        z-index: 2;

        p {
            color: #00ece2;
            font-size: 16px;
            padding-top: 10px;
        }
    }

    .hacker {
        flex-direction: row;
        width: 50%;
        max-height: 450px;
        position: relative;
        @media (max-width: 720px) { display: none; }

        img {
            position: absolute;
            width: 500px;
            height: auto;
            vertical-align: center;
            opacity: 0.7;
            top: 50%;
            left: 60%;
            transform: translate(-50%, -50%);
        }
        p {
            position: absolute;
            width: 100%;
            margin: 0 auto;
            top: 70%;
            left: 60%;
            transform: translate(-50%, -50%);
            text-align: center;
            font-size: 40px;
            color: #fff;

        }
    }

    .livestream {
        flex-direction: row;
        width: 45%;
        margin: auto 0 auto 5%;
        position: relative;
        padding-bottom: 25.3125%;
        height: 0;
        overflow: hidden;
        @media (max-width: 720px) { width: 100%; margin: 30px 0 0 0; padding-bottom: 56.25%; }
    
        iframe {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            height: 100%;
        }
    }

    .addfield {
        color: white;
        text-align: center;
        display: flex;

        /* Clear floats after the header */
        &:after {
            content: "";
            display: table;
            clear: both;
        }

        /* Style the input */
        input {
            flex-direction: row;
            margin: 0;
            margin-right: 2%;
            border-radius: 0;
            width: 73%;
            padding: 10px;
            font-size: 16px;
            color: #fff;
            background: transparent;
            border: none;
            border-bottom: solid 1px #d9d9d9;
            outline: none;

            &::placeholder {
                color: #fff;
            }
        }

        /* Style the "Add" button */
        .addBtn {
            flex-direction: row;
            padding: 10px;
            width: 25%;
            background: transparent;
            color: #D555F6;
            text-align: center;
            font-size: 16px;
            cursor: pointer;
            transition: 0.3s;
            border-radius: 100px;
            border: solid 2px #D555F6;
            outline: none;

            &:hover {
                background-color: #D555F6;
                color: #fff;
            }
        }
    }

    ul {
        margin: 0;
        padding: 0;
        overflow-y: scroll;
        height: 380px;

        li {
            cursor: pointer;
            position: relative;
            min-height: 50px;
            padding: 12px 8px 12px 40px;
            list-style-type: none;
            background: #332275;
            color: #fff;
            border-radius: 25px;
            font-size: 18px;
            transition: 0.2s;
            margin: 10px 0;
            
            /* make the list items unselectable */
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;

            /* Darker background-color on hover */
            &:hover {
                background: #00ece2;
                color: #1b0a5f;
            }

            /* Style the close button */
            .remove-button {
                position: absolute;
                right: 0;
                top: 0;
                border-radius: 50%;
                width: 50px;
                height: 50px;
                line-height: 50px;
                text-align: center;
                background-color: transparent;

                &:hover {
                    background-color: #D555F6;
                    color: white;
                }
            }
        }

      /* When clicked on, add a background color and strike out text */
      li.checked {
            background: #00ece2;
            color: #1b0a5f;
            text-decoration: line-through;

            /* Add a "checked" mark when clicked on */
            &::before {
                content: '';
                position: absolute;
                border-color: #fff;
                border-style: solid;
                border-width: 0 2px 2px 0;
                top: 10px;
                left: 16px;
                transform: rotate(45deg);
                height: 15px;
                width: 7px;
            }
        }
    }
}

.findus {    
    padding-top: 40px;
    margin-top: 40px;
    @media (max-width: 720px) { margin-top: 0; }

    .slack {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        h3 {
            color: #fff;
        }

        .divider {
            flex-direction: row;
            width: 10%;
            height: auto;

            @media (max-width: 720px) { display: none; }
        }

        .channels {
            flex-direction: row;
            width: 45%;
            margin-top: 0;
            padding: 0;
            @media (max-width: 720px) { width: 100%; }

            .channel a {
                cursor: pointer;
                position: relative;
                display: block;
                min-height: 50px;
                width: 100%;
                padding: 12px 8px 12px 50px;
                list-style-type: none;
                background: #332275;
                color: #fff;
                text-decoration: none;
                border-radius: 25px;
                font-size: 18px;
                transition: 0.2s;
                margin: 10px 0;
                
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;

                &::before {
                    content: '';
                    position: absolute;
                    background-image: url("../img/social/slack.svg");
                    background-repeat: no-repeat;
                    background-position: center center;
                    background-size: cover;
                    top: 15px;
                    left: 15px;
                    height: 20px;
                    width: 20px;
                }
    
                &:hover {
                    background: #00ece2;
                    color: #1b0a5f;
                    text-decoration: none;
                }
            }
        }

        .contactform {
            flex-direction: row;
            width: 45%;
            @media (max-width: 720px) { width: 100%; }
    
            form {
                input[type=text], textarea {
                    width: 100%;
                    padding: 10px;
                    margin-bottom: 10px;
                    font-size: 16px;
                    color: #fff;
                    background: transparent;
                    border: none;
                    border-bottom: solid 1px #d9d9d9;
                    outline: none;
    
                    &::placeholder {
                        color: #fff;
                    }
                    
                }
    
                input[type=submit] {
                    height: 44px;
                    text-align: center;
                    font-size: 16px;
                    padding: 12px 20px;
                    margin-top: 10px;
                    margin-right: 10px;
                    background-color: #00ece2;
                    color: #1b0a5f;
                    cursor: pointer;
                    transition: 0.3s;
                    border-radius: 22px;
                    border: solid 2px #00ece2;
                    outline: none;
    
                    &:hover {
                        background-color: transparent;
                        border: solid 2px #D555F6;
                        color: #D555F6;
                    }
                }
    
                #reset {
                    cursor: pointer;
                    width: 44px;
                    height: 44px;
                    line-height: 44px;
                    margin-top: 10px;
                    font-size: 16px;
                    text-align: center;
                    background-color: #D555F6;
                    border: solid 2px #D555F6;
                    border-radius: 50%;
                    color: #fff;
                    outline: none;
                    transition: 0.3s;
    
                    &:hover {
                        background-color: transparent;
                        border: solid 2px #D555F6;
                        color: #D555F6;
                    }
                }
            }
        }
    }

    .address a {
        cursor: pointer;
        position: relative;
        display: block;
        min-height: 50px;
        width: 100%;
        padding: 12px 8px 12px 8px;
        list-style-type: none;
        background: #332275;
        color: #fff;
        text-decoration: none;
        border-radius: 25px;
        font-size: 18px;
        text-align: center;
        transition: 0.2s;
        margin: 10px 0;
        
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

        &:hover {
            background: #00ece2;
            color: #1b0a5f;
            text-decoration: none;
        }
    }

    .socials {
        width: 100%;
        padding-top: 70px;
        padding-bottom: 20px;

        ul {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            padding: 0;

            .hashtag {
                font-size: 20px;
                color: #fff;
                list-style: none;
                padding: 0 12px;
                @media (max-width: 720px) { width: 100%; padding-bottom: 15px; text-align: center; }
            }
            .notonmobile {
                @media (max-width: 720px) { display: none; }
            }
    
            .socials-item {
                flex-direction: row;
                width: 42px; 
                height: 42px;
                margin: 10px;
                background-repeat: no-repeat;
                background-position: center center;
                background-size: 42px;
                transition: all 0.3s;
                display: inline-block;
                cursor: pointer;
                @media (max-width: 720px) { width: 30%; margin: 0; padding: 10px; }
            }
    
            .facebook-icon {
                background-image: url("../img/social/facebook-button.svg");
    
                &:hover {
                    background-image: url("../img/social/facebook-button-hover.svg")
                }
            }
    
            .linkedin-icon {
                background-image: url("../img/social/linkedin-button.svg");
    
                &:hover {
                    background-image: url("../img/social/linkedin-button-hover.svg")
                }
            }
    
            .instagram-icon {
                background-image: url("../img/social/instagram-button.svg");
    
                &:hover {
                    background-image: url("../img/social/instagram-button-hover.svg")
                }
            }
        }
    } 
}

.prizes {
    padding: 70px 0 30px 0;
    width: 100%;
    
    img {
        display: block;
        width: 80%;
        margin: 0 auto;
        @media (max-width: 720px) { width: 100%; }
    }
}

#sponsors {
    padding: 50px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    @media (max-width: 720px) { padding: 20px 0; }

    img {
        width: 100px;
        height: auto;
        margin: 10px 20px;
        @media (max-width: 1024px) { width: 80px; margin: 0 20px; }
        @media (max-width: 720px) { width: 60px; margin: 0 20px; }
        @media (max-width: 480px) { width: 20%; margin: 0 2.5%; }
    }
    img.big {
        width: 170px;
        @media (max-width: 1024px) { width: 140px; }
        @media (max-width: 720px) { width: 110px; }
        @media (max-width: 480px) { width: 30%; }
    }
    img.small {
        width: 70px;
        @media (max-width: 1024px) { width: 60px; }
        @media (max-width: 720px) { width: 40px; }
        @media (max-width: 480px) { width: 15%; }
    }
}