.maps {
    width: 100%;

    h1 {
        margin: 20px auto;
        color: #fff;
        text-align: center;
    }

    h2, p {
        color: #00ece2;
        text-align: center;
        margin: 0 auto;
    }
}