#backgroundwth {
    height: 100vh;
    width: 100%;
    position: relative;
    background-image: url("../img/background2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    #ball {
        height: 100vh;
        width: 100%;
        position: relative;
        background-image: url("../img/ball.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: 40%;
        @media (max-width: 1024px) { background-size: 60%; }
        @media (max-width: 720px) { background-size: 90%; }
        @media (max-width: 480px) { background-size: 150%; }

        #long-logo {
            display: block;
            width: 50%;
            margin: 0 auto;
            padding-top: 42vh;
            @media (max-width: 1024px) { width: 70%; }
            @media (max-width: 720px) { width: 80%; }
            @media (max-width: 480px) { width: 90%; }
        }

        #gotolive {
            display: block;
            width: 300px;
            padding: 0 20px;
            margin: 0 auto;
            padding-top: 25px;

            a {
                display: block;
                width: 100%;
                padding: 10px 15px;
                border-radius: 35px;
                background: linear-gradient(to right, rgb(38, 215, 212), rgb(0, 136, 254)); 
                background-size: 100%;
                color: rgb(255, 255, 255);
                font-size: 24px;
                text-align: center;
                text-transform: uppercase;
                font-family: 'Museo Sans Rounded 300' sans-serif;
            }
        }
    }
}

#sponsors {
    padding: 50px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    img {
        width: 100px;
        height: auto;
        margin: 10px 20px;
        @media (max-width: 1024px) { width: 80px; margin: 0 20px; }
        @media (max-width: 720px) { width: 60px; margin: 0 20px; }
        @media (max-width: 480px) { width: 25%; margin: 04%}
    }
}